%div(style="text-align: center;")
  %p
    #{setting :name} has recieved new feedback!
    #{link_to "Login", root_url} to resolve it.
%div
  %p
    %b Name:
    = @feedback.name
  %p
    %b Email:
    = @feedback.email
  %p
    %b Subject:
    = @feedback.subject
  %p
    %b Message
    %p(style="white-space: pre-line;")= @feedback.message
