%div(style="text-align: center;")
  %p Dear #{@user.first_name},
  %p Looks like you forgot your password...
  = image_tag "gifs/laughing.gif"
  = image_tag "gifs/sneer.gif"
  %p Sounds like a rough day
  = image_tag "gifs/woods.gif"
  = image_tag "gifs/basketball.gif"
  %p You'll do better next time
  = image_tag "gifs/wind.gif"
  %p
    Guess you can update it
    = link_to "here", root_url(token: @user.token)
  %p
    Thanks,
    %br
    = setting(:name)
