- if current_user.try(:admin)
  .brand-navbar.navbar.navbar-default.center
    .container-fluid
      .navbar-header
        = link_to "Admin", admin_root_path, class: "navbar-brand visible-xs-block"
        %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#admin-navbar")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #admin-navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li= link_to "App", admin_settings_path
          %li= link_to "Pages", admin_pages_path
          %li= link_to "Sidebars", admin_sidebars_path
          %li= link_to "Uploads", admin_uploads_path
          %li= link_to "Users", admin_users_path
