%body(class="#{action_name} #{controller_name} #{controller_name}-#{action_name}")
  = tomify_render_for :header, :layout
  = tomify_render_for :navbar, :layout
  = tomify_render_for :messages, :layout
  = tomify_render_for :container, :layout
  = tomify_render_for :footer, :layout
  = tomify_render_for :env, :layout
  = tomify_render_for :analytics, :layout
