%body(class="#{action_name} #{controller_name} #{controller_name}-#{action_name}")
  = tomify_render_for :header
  = tomify_render_for :admin_navbar
  = tomify_render_for :navbar
  = tomify_render_for :messages
  = tomify_render_for :container
  = tomify_render_for :footer
  = tomify_render_for :analytics
