- sidebar = @page.sidebar if @page&.sidebar&.active
.container-fluid{class: "with#{"out" unless sidebar }-sidebar"}
  .row
    - if sidebar
      .col-md-8= yield
      .col-md-4.sidebar= render template: "templates/#{sidebar.template}", locals: { record: sidebar }
    - else
      .col-md-12= yield
