%nav.navbar.navbar-default.center
  .container-fluid
    .navbar-header
      = link_to root_page.name, root_path, class: "navbar-brand visible-xs-block"
      %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        - if current_user
          %li= link_to "Profile", edit_user_path
        - elsif setting(:allow_signup)
          %li= link_to "Login", session_path
        - pages.each do |page|
          - children = page.children.where(active: true)
          - if children.empty?
            %li= link_to page.name, page_path(page.path)
          - else
            %li.dropdown
              = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
                = page.name
                = fa_icon "caret-down"
              %ul.dropdown-menu
                %li= link_to page.name, page_path(page.path)
                - children.each do |child|
                  %li= link_to child.name, page_path(child.path)
        - if current_user
          %li= link_to "Logout", "#", class: "sign-out"
